@model DancingGoat.Models.HomePageViewModel

@using System.Linq;

@if (Model.Banner != null)
{
    <vc:banner banner="@Model.Banner" />
}

@if (Model.Event != null)
{
    <partial name="_Event" model="@Model.Event" />
}

@if (Model.ArticlesSection != null)
{
    <vc:articles articles-section-item="@Model.ArticlesSection" />
}

<div class="row ourstory-section">
    <div class="title-wrapper">
        <h1 class="title-tab">@HtmlLocalizer["Our Story"]</h1>
    </div>
    <div class="col-sm-12">
        <div class="center-text section-text">
            @Model.OurStoryText
        </div>
    </div>
</div>

@if (Model.Reference != null)
{
    <partial name="_reference" model="@Model.Reference" />
}


<div class="home-bottom-bg">
    <vc:cafe-card-section cafes="@Model.Cafes" />
</div>